@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
html, body { width: 100vw; height: 100vh; background: url(./img/windows_bg.jpg) no-repeat center/cover; -webkit-font-smoothing: antialiased; } 
body { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; font-size: 15px;}

a { text-decoration: none; color: inherit; }
li { list-style: none; }
img { vertical-align: middle; } 
button { outline: none; cursor: pointer; border: none; background-color: inherit; }
p,h1,h2,h3,h4,h5,h6 { margin: 0; font-weight: 400;}

.border-r { border-radius: 5px;}
.col_w { color: #fff;}
.col_g { color: #bbb;}
.ft-text { font-size: 0.5rem;}
.let_sc { letter-spacing: 1px;}
@keyframes rotate { to{transform: rotate(360deg);} }

/* windows Section */
.wrapper { position: relative; height: 100vh; }
footer { z-index: 2; overflow: hidden; display: flex; justify-content: space-between; position: absolute; bottom: 0; width: 100%; height: 3em; padding: 3px; box-sizing: border-box; background-color: #21201f; border-top: 1px solid #777; }
footer .weather { width: 110px; margin-left: 10px; padding: 8px;}
footer .weather:hover { transition: all 150ms ease-in-out; background-color: #2f2e2d;}
footer .weather .sun {animation: rotate 20s linear infinite;}
footer .weather_text { position: absolute; top: 10px; left: 50px; width: 25px; line-height: .8;}
/* folder Section */
.folder { z-index: 3; width: 70%; min-height: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -54%); background-color: #fff; border-radius: 10px; box-shadow: 0 5px 15px 12px rgba(0, 0, 0, 0.3);}
