@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); :root { /* color palette */
 --color-white: #fff; --color-black: #000; --color-deepgrey: #21201f; --color-darkgrey: #2f2e2d; --color-dimgrey: #777; --color-grey: #cacaca; --color-lightgrey: #f5f5f5; --color-red: #ca1919; --color-blue: #daeaff; --color-blues: #5ac8ff; --color-deepblue: #124cca; --color-green: #23b189; /* icon_Trnasition_Hover */
 --long-hover: all 850ms ease; --normal-hover: all 500ms ease; --short-hover: all 150ms ease; --icon-hover:#b5b5b5; /* icon_border_radius */
 --big-radius: 10px; --middle-radius: 5px; --smail-radius: 2px; } 

/*pc*/
@media all and (min-width:1024px) { } 
/*tablet*/
@media all and (min-width:768px) and (max-width:1023px) { } 
/*mobile*/
@media all and (max-width:767px) { } 

/* default Setting */
html, body { width: 100vw; height: 100vh; background: url(./img/windows_bg.jpg) no-repeat center/cover; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: auto; } 
body { overflow: hidden; margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; font-size: 15px; user-select : none; } 
p,h1,h2,h3,h4,h5,h6 { margin: 0; line-height: 1.5; font-weight: 400; } 
a { text-decoration: none; color: inherit; } 
li { list-style: none; } 
hr { border: 0; width: calc(100% - 20px); height: .5px; --color-grey:#d5d5d5; background-color: var(--color-grey); margin-top: 15px; margin-bottom: 15px; } 
img { vertical-align: middle; } 
input { border: 1px solid #ccc; background-color: var(--color-white); } 
input:focus::-webkit-input-placeholder { color:transparent; }
.input_bar:focus { border: 1px solid var(--color-deepblue) } 
[data-title] { position: relative; } 
[data-title]:after { content: attr(data-title); background-color: var(--color-lightgrey); color: var(--color-dimgrey); font-size: 10px; font-weight: 400; position: absolute; padding: 3px 5px; bottom: -1.3em; left: 100%; white-space: nowrap; box-shadow: 1px 1px 3px #111; opacity: 0; border: 1px solid #c7c7c7; z-index: 99999; visibility: hidden; } 
[data-title]:hover:after { opacity: 1; transition: all 0.1s ease 0.5s; visibility: visible; } 
button { outline: none; cursor: pointer; border: none; background-color: inherit; } 
.triangle-left { position: absolute; top: 22px; left: -4px; width: 0; height: 0; border-bottom: 3px solid var(--color-lightgrey); border-top: 3px solid transparent; border-left: 3px solid transparent; border-right: 3px solid var(--color-lightgrey); } 
.triangle-right { position: absolute; top: 22px; right: -4px; width: 0; height: 0; border-bottom: 3px solid var(--color-lightgrey); border-top: 3px solid transparent; border-left: 3px solid var(--color-lightgrey); border-right: 3px solid transparent; } 

/* windows Icon Section */
.main_folder { position: absolute; z-index: 2; top: 20px; left: 20px; text-align: center; } 
.main_folder .folder_wrap { width: 70px; border-radius: var(--middle-radius); } 
.main_folder .folder_wrap:hover { background-color: rgba(255, 255, 255, 0.2); } 
.main_folder .folder_wrap .bg_img { width: 40px; } 
.main_folder .folder_wrap .bg_text { font-size: 0.75rem; font-weight: 100; letter-spacing: .5px; color: var(--color-white); } 

/* windows Bar Left Section */
.windows_bar { position: relative; height: 100vh; } 
.windows_bar footer { z-index: 3; display: flex; justify-content: space-between; position: absolute; bottom: -3px; width: 100%; height: 3em; padding: 3px; box-sizing: border-box; background-color: var(--color-deepgrey); border-top: 1px solid #777; } 
.windows_bar footer input[id="menuicon"] { display: none; } 
.windows_bar footer input[id="menuicon"] + label { display: block; position: relative; } 
.windows_bar footer input[id="menuicon"]:checked + label { z-index: 3; } 
.windows_bar footer input[id="menuicon"]:checked + label + .sidebar { left: 20px; opacity: 1; visibility: visible; } 
.windows_bar footer .sidebar { opacity: 0; visibility: hidden; width: 44%; height: calc(100% - 100px); background-color: rgba(58, 58, 58, 0.3); backdrop-filter: blur(30px); position: fixed; top: 30px; left: -820px; z-index: 1; border-radius: var(--middle-radius); transition: all 250ms; } 
.windows_bar footer .sidebar .sidenav { overflow: hidden; position: relative; width: 100%; height: 100%; }
.windows_bar footer .sidebar .sidenav .card_news { width: 85%; height: calc(100% - 60px); display: grid; grid-template-columns: repeat(2, 1fr); grid-auto-rows: minmax(150px, auto); padding: 0 2.5em; grid-gap: 1em; cursor: pointer; overflow-y: scroll; scroll-snap-type: y mandatory; }
.windows_bar footer .sidebar .sidenav .card_news::-webkit-scrollbar { width: 10px; }
.windows_bar footer .sidebar .sidenav .card_news::-webkit-scrollbar-thumb { border: 4px solid #eee; border-radius: 20px; background-color: var(--color-dimgrey);}
.windows_bar footer .sidebar .sidenav .card_news::-webkit-scrollbar-track { border-radius: 20px; --color-lightgrey:#eee; background-color: var(--color-lightgrey);}
.windows_bar footer .sidebar .sidenav .card_news .card_item { border: 1px solid blue; border-radius: var(--big-radius); }
.windows_bar footer .sidebar .sidenav .card_news .card_item:nth-child(1) { grid-row: 1 / 3; grid-column: 1 / 2; }
.windows_bar footer .sidebar .sidenav .card_news .card_item:nth-child(4) { grid-row: 3 / 5; grid-column: 1 / 2; }
.windows_bar footer .sidebar .sidenav .card_news .card_item:nth-child(6) { grid-row: 3 / 5; grid-column: 2 / 3; }
.windows_bar footer .sidebar .sidenav .card_news .card_item:nth-child(8) { grid-row: 5 / 7; grid-column: 1 / 2; }
.windows_bar footer .sidebar .sidenav .card_news .card_item:nth-child(10) { grid-row: 5 / 7; grid-column: 2 / 3; background-color: red; }
.windows_bar footer .sidebar .sidenav .card_news .card_item:nth-child(12) { grid-row: 7 / 9; grid-column: 1 / 2; background-color: red; }
.windows_bar footer .sidebar .sidenav .card_news .card_item:nth-child(14) { grid-row: 9 / 11; grid-column: 1 / 3; }
.windows_bar footer .sidebar .sidenav .sidenav_item { display: flex; justify-content: center; align-items: center; padding: 1em 1.5em; color: var(--color-white); } 
.windows_bar footer .sidebar .sidenav .sidenav_item i { font-size: 1.1rem; padding: 10px; border-radius: var(--middle-radius); } 
.windows_bar footer .sidebar .sidenav .sidenav_item i:hover { background-color: rgba(255, 255, 255, 0.3); backdrop-filter: blur(25px); cursor: pointer; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_left { flex: 1; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_left > i:nth-child(1) { color: var(--color-blues); background-color: rgba(58, 58, 58, 0.3); backdrop-filter: blur(30px); } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right > i[class~="fa-user"] { --color-grey:#929292; color: var(--color-grey); background-color: var(--color-white); border-radius: 50%; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right input[id="widget"] { display: none; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right input[id="widget"] + label { display: inline-block; position: relative; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right input[id="widget"]:checked + label { z-index: 2; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right input[id="widget"]:checked + label + .widget_bg { left: 20px; opacity: 0; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg { width: 750px; height: calc(100% - 68px); background-color: rgba(58, 58, 58, 0.5); position: fixed; top: 67px; left: -820px; transform: translateX(-20px); z-index: 1; border-radius: 0 0 5px 5px; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar { width: 660px; height: calc(100% - 200px); padding: 2.5em 1.5em; background-color: var(--color-deepgrey); position: fixed; top: 60px; left: 23px; z-index: 2; border-radius: var(--middle-radius);  } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar > h3 { font-weight: 900; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar > p { color: var(--color-dimgrey); font-size: 0.925rem; text-align: justify; margin-bottom: 1rem; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar span { cursor: pointer ;}
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar .widget_wrap { display: grid; grid-template-columns: repeat(2, 1fr); grid-auto-rows: minmax(60px, auto); grid-gap: 15px; cursor: pointer; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar .widget_wrap .widget_item:hover { background-color: rgba(255, 255, 255, 0.1); } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar .widget_wrap .widget_item { display: flex; justify-content: space-between; align-items: center; background-color: var(--color-darkgrey); border-radius: var(--middle-radius); } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar .widget_wrap .widget_item .widget_text { display: flex; justify-content: center; align-items: center; margin-left: 15px; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar .widget_wrap .widget_item .widget_text img { width: 25px; margin-right: 5px; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar .widget_wrap .widget_item .circle { background-color: var(--color-blues); border-radius: 50%; width: 25px; height: 25px; margin-right: 15px; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar .widget_wrap .widget_item .circle > i { font-size: 0.7rem; transform: translate(-10%, -10%); } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar .widget_wrap .widget_item .circle > i:hover { background-color: var(--color-blues); border-radius: 50%; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar span { font-size: 0.8rem; font-weight: 100; color: var(--color-blues); position: absolute; bottom: 30px; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar span:hover { text-decoration: underline; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar span:nth-of-type(1) { left: 25px; } 
.windows_bar footer .sidebar .sidenav .sidenav_item .sn_item_right .widget_bg .widget_bar span:nth-of-type(2) { right: 25px; } 

.windows_bar footer .weather { z-index: 2; position: relative; width: 110px; margin-left: 10px; padding: 6px; border-radius: var(--middle-radius); } 
.windows_bar footer .weather:hover { transition: all 150ms ease-in-out; background-color: var(--color-darkgrey); } 
.windows_bar footer .weather .sun { animation: rotate 20s linear infinite; } 
@keyframes rotate { to { transform: rotate(360deg); } 
}
.windows_bar footer .weather_text { position: absolute; top: 6px; left: 50px; width: 35px; line-height: 0.8; } 
.windows_bar footer .weather_text > span { color: var(--color-white); font-size: 0.5rem; } 
.windows_bar footer .weather_text > span:nth-child(2) { color: var(--color-lightgrey); letter-spacing: 1px; } 

/* windows Bar Search & Icon Section */
.windows_bar footer .ft_center { overflow: hidden; }
.windows_bar footer .ft_center .search input[id="logotab"] { display: none;}
.windows_bar footer .ft_center .search input[id="logotab"] + label { display: block; position: relative; }
.windows_bar footer .ft_center .search input[id="logotab"]:checked + label { z-index: 1;}
.windows_bar footer .ft_center .search input[id="logotab"]:checked + label + .logo_tab_box { bottom: 55px; opacity: 1; visibility: visible; }
.windows_bar footer .ft_center .search { background-color: var(--color-deepgrey); position: absolute; top: 0; left: auto; padding-top: 3px; padding-left: 150px; right: 19%; width: 40%; height: 100%; } 
.windows_bar footer .ft_center .search .logo_tab_box { opacity: 0; visibility: hidden; z-index: -1; width: 35%; height: calc(100% - 150px); padding: 2em; background-color: rgba(20, 20, 20, 0.8); color: var(--color-white); backdrop-filter: blur(100px); position: fixed; bottom: -88%; left: auto; right: auto; transform: translateX(-15%); border: 1px solid var(--color-dimgrey); border-radius: var(--big-radius); transition: all 150ms ease; }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_bottom { width: 100%; height: 70px; position: absolute; bottom: 0; left: 0; background-color: rgba(20, 20, 20, 0.3); border-top: 1px solid rgba(20, 20, 20, 0.5); border-radius: 0 0 15px 15px; }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_bottom > i { float: right; padding: 0.7em; margin-top: 1.2em; margin-right: 3em; color: var(--color-grey); border-radius: var(--middle-radius); }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_bottom > i:hover { background-color: var(--color-darkgrey); color: var(--color-white); }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_bottom .ct_user_bot { display: inline-block; padding: 6px 12px; border-radius: var(--middle-radius); margin-top: 1em; margin-left: 3em;}
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_bottom .ct_user_bot:hover { background-color: var(--color-darkgrey);}
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_bottom .ct_user_bot > .circled { display: inline-block; vertical-align: middle; position: relative; border-radius: 50%; width: 30px; height: 30px; background-color: var(--color-lightgrey); color: var(--color-dimgrey); }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_bottom .ct_user_bot > .circled i { position: absolute; top: 0; left: 2px; transform: translate(50%, 50%); }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_bottom .ct_user_bot > span { font-size: 0.8rem; font-weight: 100; margin-left: 0.5em; }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box { width: 100%; height: 100%; position: relative; }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box > img { width: 15px; filter: brightness(0) invert(1); position: absolute; top: 8px; transform: translateX(12px); z-index: 1; left: 0; }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_icon_box { width: 100%; border-radius: 15px; padding: 0.5em 0; background-color: var(--color-deepgrey); border: 1px solid var(--color-dimgrey); }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_icon_box::placeholder { padding-left: 3em; font-size: 0.9rem; font-weight: 900; }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_text { margin: 2em 2em 1em 2em; font-size: 0.9rem; letter-spacing: 0.5px;}
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_text > button { float: right; color: inherit; background-color: rgba(42, 42, 42, 0.1); border-radius: var(--middle-radius); padding: 4px 8px;}
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_text > button:hover { background-color: rgba(255, 255, 255, 0.2); }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_tt { margin: 1em 2em 0 2em;}
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_tt > span { font-size: 0.9rem; }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_tt > p { margin-top: 1em; font-size: 0.8rem; font-weight: 100; color: var(--color-grey); letter-spacing: 1px; }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_tt > p > span { color: var(--color-blues); text-decoration: underline; cursor: pointer; }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_tt > p > span:hover { text-decoration: none; }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_app { display: grid; grid-template-columns: repeat(6, 16.66666%); grid-auto-rows: minmax(15%, auto); }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_app .tb_app_box { display: flex; flex-direction: column; justify-content: top; align-items: center; padding: 1em; text-align: center; border-radius: var(--middle-radius); transition: all 150ms ease; }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_app .tb_app_box:hover { background-color: rgba(200, 200, 200, 0.1);}
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_app .tb_app_box > img { width: 30px; }
.windows_bar footer .ft_center .search .logo_tab_box .tab_content_box .tab_content_app .tb_app_box > p { font-size: 0.7rem; letter-spacing: 0.5px; margin-top: 0.5em;}
.windows_bar footer .ft_center .search label .logo_box { cursor: pointer; position: absolute; top: 0; left: -40px; width: 35px; height: 38px; border-radius: var(--middle-radius); } 
.windows_bar footer .ft_center .search label .logo_box:hover { transition: all 150ms ease-in-out; background-color: var(--color-darkgrey); } 
.windows_bar footer .ft_center .search label .logo_box > img { width: 20px; transform: translate(40%, 25%); } 

/* inputbar @Copy right 2023. Lsw all rights reserved. */
.windows_bar footer .ft_center .search .input_search { position: relative; top: 3px; left: 0; width: 40%; padding: 8px 16px; --color-darkgrey:#3d3d3d; background-color: var(--color-darkgrey); border: 0; border-radius: 15px; } 
.windows_bar footer .ft_center .search .input_search:focus { --color-black:#151515; background-color: var(--color-black); color: #fff; } 
.windows_bar footer .ft_center .search .input_search::placeholder { font-size: 0.7rem; letter-spacing: 0.5px; filter:brightness(0.1); margin: -1px; } 
.windows_bar footer .ft_center .search .input_icon_inner { width: 44%; position: relative; } 
.windows_bar footer .ft_center .search .input_icon_inner img { width: 55px; position: absolute; top: -24px; right: 5px; } 
/* windows Footer Github icon */
.windows_bar footer .ft_center .search .logo_bx { cursor: pointer; position: absolute; top: 5px; right: 41%; padding: 6px; transform: translateY(-5%); border-radius: var(--middle-radius); }
.windows_bar footer .ft_center .search .logo_bx::before { content: ''; position: absolute; bottom: 0; right: 50%; transform: translateX(50%); width: 8px; height: 3px; background-color: var(--color-dimgrey); border-radius: 5px;}
.windows_bar footer .ft_center .search .logo_bx:hover { transition: all 150ms ease-in-out; background-color: var(--color-darkgrey); }
.windows_bar footer .ft_center .search .logo_bx > a > img { width: 25px; transform: translateY(-10%); }
.windows_bar footer .ft_center .search .logo_bx > #tooltipText { opacity: 0; visibility: hidden; position: absolute; top: 6px; right: -55px; padding: 4px 12px; font-size: 0.7rem; color: var(--color-white); background-color: var(--color-darkgrey); border-radius: var(--middle-radius); transition: all 250ms ease; }
.windows_bar footer .ft_center .search .logo_bx > #tooltipText::before { content: ''; position:absolute; top: 6px; left: -11px; border: 6px solid; border-color: transparent var(--color-darkgrey) transparent transparent; }
.windows_bar footer .ft_center .search .logo_bx:hover #tooltipText { right: -75px; opacity: 1; visibility: visible; }

/* windows Bar Right Section */
.windows_bar footer .ft_rg { display: flex; justify-content: space-between; align-items: center; font-size: 13px; letter-spacing: 0.5px; color: var(--color-white); } 
.windows_bar footer .ft_rg .ft_icon_box { z-index: 2; position: relative; display: flex; align-items: center; text-align: center; } 
.windows_bar footer .ft_rg .ft_icon_box i { flex: 1; padding: 13px 10px; border-radius: var(--middle-radius); } 
.windows_bar footer .ft_rg .ft_icon_box i:hover { background-color: var(--color-darkgrey); } 
.windows_bar footer .ft_rg .ft_icon_box input[id="dropicon"] { display: none;}
.windows_bar footer .ft_rg .ft_icon_box input[id="dropicon"] + label { display: block; position: relative;}
.windows_bar footer .ft_rg .ft_icon_box input[id="dropicon"]:checked + label { z-index: 1; }
.windows_bar footer .ft_rg .ft_icon_box input[id="dropicon"]:checked + label { transform: rotate(180deg); transition: all 250ms ease; }
.windows_bar footer .ft_rg .ft_icon_box input[id="dropicon"]:checked + label + .dropicon_wrap { top: 0; }
.windows_bar footer .ft_rg .ft_icon_box .dropicon_wrap { position: absolute; top: -50px;  }
.windows_bar footer .ft_rg .ft_icon_box .ft_icon_wrap { border-radius: var(--middle-radius); } 
.windows_bar footer .ft_rg .ft_icon_box .ft_icon_wrap i { padding: 13px 4px; border-radius: var(--middle-radius); } 
.windows_bar footer .ft_rg .ft_icon_box .ft_icon_wrap:hover { background-color: var(--color-darkgrey); } 
.windows_bar footer .ft_rg .ft_time_text { display: flex; flex-direction: column; align-items: flex-end; margin-right: 8px; padding: 5px; font-size: 8px; border-radius: var(--middle-radius); } 
.windows_bar footer .ft_rg .ft_time_text:hover { background-color: var(--color-darkgrey); } 

/* main Folder Icon Section */
.main_folders { position: absolute; top: 100px; left: 20px; width: 50px; height: 600px; text-align: center; } 
.main_folders .folder_wraps { width: 70px; border-radius: var(--middle-radius); } 
.main_folders .folder_wraps:hover { background-color: rgba(255, 255, 255, 0.2); } 
.main_folders .folder_wraps .bg_imgs { width: 40px; } 
.main_folders .folder_wraps .bg_texts { font-size: 0.75rem; font-weight: 100; letter-spacing: .5px; color: var(--color-white); } 
input[id="folder_link"] { display: none; } 
input[id="folder_link"] + label { display: block; } 
input[id="folder_link"]:checked + label { z-index: 2; } 
input[id="folder_link"]:checked + label + .folder { transform: scale(1); opacity: 1; } 
/* folder Section */
.folder { z-index: 4; width: 70%; position: fixed; top: 7%; left: 15%; transform: translate(-50%, -54%); transform: scale(0); opacity: 0; background-color: var(--color-white); border-radius: var(--big-radius); box-shadow: 0 5px 15px 12px rgba(0, 0, 0, 0.3); transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1); transform-origin: bottom; } 
.folder .top_header { border-radius: 9px 9px 0 0; float:left; width: 100%; height: 2.4em; background-color: var(--color-grey); } 
.folder .top_header i { float: right; padding: 0.8em 1.5em; color: var(--color-darkgrey); font-size: 11px; transition: var(--short-hover); border-radius: var(--smail-radius); } 
.folder .top_header i:hover { --icon-hover:#b5b5b5; background-color: var(--icon-hover); color: var(--color-deepgrey); } 
.folder .top_header i:first-child { padding: 0.7em 1.5em; border-radius: 0 9px 0 0; } 
.folder .top_header i:first-child:hover { background-color: var(--color-red); color: var(--color-white); } 

/* middle Header Section */ 
.middle_header_tab { position: absolute; top: 9px; left: 8px; width: 215px; height: 27px; background-color: var(--color-lightgrey); border-radius: 10px 10px 0 0; } 
.middle_header_tab .middle_header_tab { position: relative; } 
.middle_header_tab .md_hd_tbbox > span { position: absolute; left: 35px; top: 5px; letter-spacing: 0.5px; font-size: 12px; font-weight: bold; } 
.middle_header_tab .md_hd_tbbox .middle_hd_img { width: 13px; position: absolute; top: 8px; left: 11px; } 
.middle_header { display: flex; align-items: center; width: 100%; height: 50px; background-color: var(--color-lightgrey); border-bottom: 1px solid var(--color-grey); } 
.middle_header .md_hd_icon { margin-left: 5px; display: flex; flex-direction: row; justify-content: space-around; align-items: center; width: 120px; color: var(--color-dimgrey); font-size: 11px; } 
.middle_header .md_hd_icon i { padding: 10px; transition: var(--normal-hover); border-radius: var(--middle-radius); } 
.middle_header .md_hd_icon i:nth-child(2) { color: var(--color-grey); } 
.middle_header .md_hd_icon i:nth-child(3) { padding: 9px 3px; font-size: 10px; vertical-align: top; } 
.middle_header .md_hd_icon i:nth-child(4) { margin-right: 3px; } 
.middle_header .md_hd_icon i:hover { background-color: var(--color-blue); color: var(--color-black); } 
.middle_header .md_hd_icon i:hover:nth-child(2) { background-color: var(--color-lightgrey); color: var(--color-grey); } 
.middle_header .md_hd_searchbox { position: relative; display: flex; align-items: center; width: 100%; overflow: hidden; } 
.middle_header .md_hd_searchbox .input_bar { padding: 10px; outline: 0; font-size: 11px; font-weight: 700; } 
.middle_header .md_hd_searchbox input.path { min-width: 60px; width: 100%; padding-left: 30px; } 
.middle_header .md_hd_searchbox .input_icon { position: absolute; top: 3px; left: 10px; } 
.middle_header .md_hd_searchbox .input_icon > img { width: 15px; } 
.middle_header .md_hd_searchbox input.search { min-width: 250px; margin-left: 10px; margin-right: 10px; } 
.middle_header .md_hd_searchbox .input_icons { position: absolute; top: 3px; right: 20px; } 
.middle_header .md_hd_searchbox .input_icons img { filter: opacity(50%); transform: scaleX(-1); width: 13px; } 

/* folder Aside section */
.folder aside { width: 105px; height: calc(100% - 125px); padding: 2px; border-right: 1px solid var(--color-lightgrey); position: absolute; top: 86px; left: 0; } 
.folder aside .menu_box { display: flex; flex-direction: column; font-size: 0.7rem; letter-spacing: 0.5px; } 
.folder aside .menu_box .menu { cursor: pointer; padding-top: 3px; padding-left: 12px; padding-bottom: 3px; border-radius: var(--smail-radius); } 
.folder aside .menu_box .menu:hover { background-color: var(--color-blue); } 
.folder aside .menu_box .active { background-color: var(--color-grey); } 
.folder aside .menu_box .active:hover { outline: none; margin: -1px; --color-deepblue:#7698ff; border: 1px solid var(--color-deepblue); } 
.folder aside .menu_box .menu .menu_item { padding-left: 15px; padding-top: 7px; padding-bottom: 6px; border-radius: var(--smail-radius); } 
.folder aside .menu_box .menu .menu_item > i:hover { transform: rotate(90deg); }
.folder aside .menu_box .menu .menu_item > i:hover + .drop_content { display: block; }
.folder aside .menu_box .menu .menu_item .drop_content { display: none; position: absolute; padding: 15px 0; margin: 5px 0; border-radius: var(--smail-radius); }
.folder aside .menu_box .menu .menu_item .drop_content > i { margin-left: -15px; margin-right: 5px; font-size: 0.6rem; color: var(--color-grey);}
.folder aside .menu_box .menu .menu_item .drop_content:hover { background-color: var(--color-blue);}
.folder aside .menu_box .menu .menu_item > img { vertical-align: middle; } 
/* aside Top Menu */
.folder aside .menu_box .top_menu { cursor: default; margin-top: 15px; padding-left: 20px; } 
.folder aside .menu_box .top_menu > img { width: 30px; margin-right: -5px; } 
/* aside Bottom Menu */
.folder aside .menu_box .menu_item { padding-left: 7px; padding-top: 7px; padding-bottom: 6px; border-radius: var(--smail-radius); } 
.folder aside .menu_box .menu_item > i { font-size: 9px; padding: 6px; margin-left: -21px; color: var(--color-grey); } 
.folder aside .menu_box .menu_item > i:hover { color: var(--color-black); cursor: default; } 

/* Main Section */
main { margin-left: 110px; height: 100%; margin-bottom: 25px; } 
main .m_container { overflow-y: scroll; width: 100%; height:calc(100vh - 275px); scroll-snap-type: y mandatory; } 
main .m_container::-webkit-scrollbar { width: 10px; } 
main .m_container::-webkit-scrollbar-thumb { border: 4px solid #eee; border-radius: 20px; background-color: var(--color-dimgrey); } 
main .m_container::-webkit-scrollbar-track { border-radius: 20px; --color-lightgrey:#eee; background-color: var(--color-lightgrey); } 

/* folder Bottom Section */
.folder .folder_bottom { position: absolute; bottom: 0; width: 99%; } 
.folder .folder_bottom .folder_bt_container { display: flex; justify-content: space-between; margin-left: 10px; background-color: var(--color-white); border-radius: 3px; } 
.folder .folder_bottom .folder_bt_container > span { --color-deepblue:#1b1b80; color: var(--color-deepblue); font-size: 0.7rem; letter-spacing: .25px; } 
.folder .folder_bottom .folder_bt_container .bt_item button { padding: 0; margin-left: -4px; } 
.folder .folder_bottom .folder_bt_container .bt_item button i { font-size: 0.6rem; padding: 5px; cursor: default; } 
.folder .folder_bottom .folder_bt_container .bt_item button i.bra { padding: 5px 6px; } 
.folder .folder_bottom .folder_bt_container .bt_item button i.bra:hover { background-color: var(--color-blue); --color-deepblue:#7878dc; border: 1px solid var(--color-deepblue); border-radius: var(--smail-radius); box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 1); } 
.folder .folder_bottom .folder_bt_container .bt_item .active { cursor: default; --color-deepblue:#7878dc; border: 1px solid var(--color-deepblue); background-color: var(--color-blue); border-radius: var(--smail-radius); box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 1); } 


